
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');





/* -------------------------
    Navbar section start
------------------------- */

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #562EFF;
  
}

.nav-container {
  width: 870px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-beween;
  font-family:'Poppins',sans-serif;
}



.menu {
  position: relative;
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  display: inline-block;
  margin: auto 20px;
}
.log-in img{
  width:30px;
}
.log-in {
  position:relative;
  display:flex;
  align-items:center;
  background-color: #E02C6D;
  width:90px;
  height:32.88px;
  padding:10px;
  
}

 .log-in a{
  text-decoration:none;
  color:white;
  background-color: #E02C6D;
}

.section-tittle{
background-color:#562EFF;
width:1080px;
height:500px;
border:1px solid #562EFF;
}

.section-tittle{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}
.tittle-pic img {
 width:388px;
 height:428px;
}
h1{
  font-size:40px;
  display:inline;
}
.font-awesome{
align-items: center;
}
footer{
  text-align:center;
}
.player-bio{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  border:5px solid white;

}

.player-pic{
  width:300px;
  height:256px;
}
.photo-argentina{
  width:300px;
  height:180px;
  border:3px solid blue;
  border-radius:10px;
  position:relative;
  margin-right:30px;
}

.photo-brazil{
  width:300px;
  height:180px;
  border:3px solid blue;
  border-radius:10px;
  position:relative;
  margin-right:30px;
}
.photo-maradona img{
  width:100%;
  border:2px solid black;
  border-radius:10px;
}
.photo-pele img{
  width:100%;
  border:2px solid black;
  border-radius:10px;
}
.photo-detail{
  display:none;
  position:absolute;
  width:300px;
  top:0;
}
.photo-argentina:hover .photo-detail{
  display:block;
  background-color:skyblue;
}
.photo-detail h3{
  text-align:center;
}
.photo-legend{
  display:flex;
  flex-wrap:wrap;
}
.photo-brazil:hover .photo-detail{
  display:block;
  background-color: yellow;
}



