/* ---------------
      font        
------------------ */
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* ----------------
common Utilities  
---------------*/

body{
  font-family: 'Poppins', sans-serif;
  margin:auto;

}

/* --------------
header
---------*/

.link-button{
  font-size:16px;
  color: white;
  text-decoration:none;
  position:relative;
  width:380px;
  height:250px;
  margin-top:27px;
  margin-left:156px;
  margin-bottom:169px;
  background-color: #E02C6D;
  padding:10px 10px;
  
}
  
.link-button:hover{
  background-color:blue;
  
}


.fas fa-Arrow-right{
  text-align:center;
}

  

.tittle-pic:hover{
  transform: scale(1.1) rotate(360deg);
  transition: transform 2s ease-in-out;
}
.tittle-pic img{
  width:556px;
  height:438px;
  margin-top:153px;
  margin-bottom:86px;
}

.section-tittle{
  display:flex;
  background-color:#562EFF;
  margin-bottom:70px;
  justify-content: space-evenly;
  
}
.web-tittle {
  font-size:64px;
  line-height:80px;
  width:485px;
  color:white;
  margin-top:207px;
  margin-left:156px;
  position:relative;
}


/*---------------
section part
-----------*/



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container{
 display:grid;
 justify-content:center;
 grid-template-columns: repeat(3,1fr);
 align-items:center;
 margin-left:180px;
 margin-right:210px;

 
}
.row{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-column-gap:30px;
  
 
  
}

.player-bio{
  display:grid;
  grid-template-columns:repeat(3,1fr);
grid-column-gap: 30px;
grid-row-gap:10px;
justify-content:center;



}
.common-border{
  margin:10px 0;
  width:330px;
  height:474px;
  border-radius:2px;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(230,230,230);
  justify-content:center;
  align-items:center;
  
}


.player-pic{
  width:310px;
  border-radius:0px;
  display:inline-block;
  margin:10px 10px;

}
.bio{
  margin-top:0;
  margin-bottom:33px;
}
h3{
  margin-left: 15px;
}
.bio p{
  width:300px;
  margin:auto;
  color:#6C6C6C;
}

/*-----------------
legend Area
-------------*/


.photo-argentina{
  width:300px;
  height:180px;
  border:3px solid blue;
  border-radius:10px;
  position:relative;
  margin-right:30px;
}
h2{
  text-align:center;
  
}
.photo-brazil{
  width:300px;
  height:180px;
  border:3px solid blue;
  border-radius:10px;
  position:relative;
  margin-right:30px;
  margin-bottom:20px;
}
.photo-maradona img{
  width:100%;
  border:2px solid black;
  border-radius:10px;
  margin-bottom: 30px;
}
.photo-pele img{
  width:100%;
  border:2px solid black;
  border-radius:10px;
}
.photo-detail{
  display:none;
  position:absolute;
  width:300px;
  top:0;
  padding:3px;
  border-radius:5px;
}
.photo-argentina:hover .photo-detail{
  display:block;
  background-color:skyblue;
}
.photo-detail h3{
  text-align:center;
}
.photo-legend{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.photo-brazil:hover .photo-detail{
  display:block;
  background-color: yellow;
 
}
/*----------footer part 
---------------*/

.fab{
  display:inline;
  color:#969BAB;
  margin-right: 8px;
}


footer img{
  width:485px;
  height:110px;
}

footer {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items:center;
}



/* --------------------------
        Media Queries  Mobile
---------------------- */

@media only screen and (max-width:688px){
 .player-bio{
   grid-template-columns: repeat(1,1fr);
  
   flex-direction: column;
 }
.blog-tittle {
  flex-direction: column;
  
}
.tittle-pic{
  flex-direction: column;
}
.photo-legend{
  margin-top: 10px;
}
.section-tittle{ 
  display:grid;
  grid-template-columns: repeat(1,1fr);
  flex-direction:column;
 
  
}
}

